[ req ]
prompt             = no
default_bits       = 4096
default_md         = sha256
distinguished_name = req_distinguished_name
x509_extensions    = v3_ca

[ req_distinguished_name ]
countryName            = FR
stateOrProvinceName    = France
localityName           = Paris
organizationName       = Markentive
commonName             = Graylog Input Root CA

[ v3_ca ]
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer:always
basicConstraints = critical, CA:true
keyUsage = critical, keyCertSign, cRLSign
subjectAltName = @alt_names

[ alt_names ]
IP.1  = 45.133.178.124
