[ req ]
prompt             = no
default_bits       = 4096
default_keyfile    = server.key
default_md         = sha256
distinguished_name = dn
req_extensions     = req_ext

[ dn ]
C  = FR
ST = France
L  = Paris
O  = Markentive
CN = 45.133.178.124

[ req_ext ]
subjectAltName = @alt_names

[ alt_names ]
IP.1 = 45.133.178.124
